* {
    box-sizing: border-box;
    margin : 0;
    padding : 0;
    font-family:  "Noto Sans", serif;
}


html,
body {
    height: 100%;
}

main {
    height: 92%;
}

body {
    background-color: #e9e6c9;
}

header {
    background-color: #8f9963;
    color: #ffffff;
    font-size: smaller;
    text-align: center;
}

header h1 {
    font-family: "Noto Sans", serif;
}

main {
    margin-top: 10px;
}

.grid {
    display: grid;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.order,
.menu-payment {
    background-color: white;
    border: none;
    border-radius: 0 0 10px 10px;
    margin: 0px 0px 5px 0px;
    height: 100%;
    max-height: 100%;
}


/*-------------------------------ORDER------------------*/

.order {
    background-color: white;
    flex: 0 0 440px;
    overflow: auto;
}

.receipt {
    border: solid .5px;
    margin: 10px 15px 5px 15px;
    box-shadow: 3px 3px 2px rgb(3, 3, 3);
    user-select: none;
    flex-grow: 1;
}

.receipt,
.company-info,
.receipt-footer {
    align-items: center;
}

.company-info {
    margin-top: 5px;
}

#company-name {
    font-size: 1.5rem;
}

#company-phone {
    font-size: 1.25rem;
}

th.description {
    width: 180px;
    text-align: left;
}

th.price {
    width: 70px;
}

th.subtotal {
    width: 75px;
}

.quantity,
.price,
.subtotal,
.delete {
    text-align: right;
}

.receipt-details {
    margin-top: 10px;
    flex-grow: 1;
}

.dotted-border {
    border-bottom: dotted 2px;
}

.fa-backspace:hover {
    transform: scale(1.2);
}

table.summary-table {
    text-align: right;
}

tbody.summary-table td:nth-child(1) {
    width: 277px;
}

tbody.summary-table td:nth-child(2) {
    width: 75px;
}

tbody.summary-table td:nth-child(3) {
    width: 25px;
}

.receipt-footer {
    padding-top: 20px;
}

#barcode {
    font-family: 'Libre Barcode 128', cursive;
    font-size: 70px;
    margin-top: 10px
}

.toolbar {
    flex: 0 0 60px;
    justify-content: space-around;
    align-items: center;
    border: solid .5px;
    border-radius: 10px;
    margin: 0px 15px 5px 15px;
}

.toolbar-icon {
    font-size: 2rem;
}

.toolbar-icon:hover {
    transform: scale(1.2);
    transition-duration: 400ms;
}

/*------------------------------------Category-Menu-------------*/

.category{
    display: inline-block;
}

.category-box{
    display: flex;
    opacity: 1;
    vertical-align: middle;
    border-radius: 1em 0em 0em 1em;
    padding: 0.5em;
    margin: 0em 0em 0.2em 0.5em;
    width: 10em;
}

.category-box p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0em 0.5em;
}

/*------------------------------------Main-Display-------------*/

.main-display {
    background: white;
    flex-grow: 1;
    z-index: 0;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

.section-for-main-display{
    display: none;
    width: 100%;
    justify-content: center;
    -webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
}

/*------------------------------------Main Menu-------------*/

.main-menu-icon {
    font-size: 5rem;
    padding: 2rem;
}


/*------------------------------------Menu-Payment-------------*/

.menu-payment {
    background: white;
    flex-grow: 1;
    z-index: 0;
}

.menu {
    flex-flow: row wrap;
    grid-column: 1;
    grid-row: 1;
    align-content: flex-start;
    z-index: 0;
    height: 100%;
    overflow: auto;
}

.menu-item {
    flex-flow: column nowrap;
    flex-basis: auto;
    flex-shrink: 0;
    margin: 5px;
    background: rgba(255, 255, 255, .05);
    width: 150px;
}

.menu-img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

figcaption {
    color: black;
    text-align: center;
    user-select: none;
}

.menu-item:hover>.menu-img {
    transform: scale(1.03);
}

#payment-overlay {
    display: none;
    grid-column: 1;
    grid-row: 1;
    grid-template-columns: 330px auto;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: rgba(255, 255, 255, .05);
}

.paypad {
    margin: 10px 0 0 10px;
    align-content: center;
    grid-column: 1;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(5, 100px);
}

.span3-col {
    grid-column: span 3;
}

#close-sale {
    display: none;
}

.paypad-btn.number {
    font-size: 2rem;
}

.close-icon {
    color: white;
    font-size: 3rem;
    margin: 150px 0 0 15px;
}

.close-icon:hover {
    transform: scale(1.03);
}


.button-success{
    color: white !important;
    background-color: #8f9963 !important; 
}

.prompt-thin {
font-family: "Prompt", serif;
font-weight: 100;
font-style: normal;
}

.prompt-extralight {
font-family: "Prompt", serif;
font-weight: 200;
font-style: normal;
}

.prompt-light {
font-family: "Prompt", serif;
font-weight: 300;
font-style: normal;
}

.prompt-regular {
font-family: "Prompt", serif;
font-weight: 400;
font-style: normal;
}

.prompt-medium {
font-family: "Prompt", serif;
font-weight: 500;
font-style: normal;
}

.prompt-semibold {
font-family: "Prompt", serif;
font-weight: 600;
font-style: normal;
}

.prompt-bold {
font-family: "Prompt", serif;
font-weight: 700;
font-style: normal;
}

.prompt-extrabold {
font-family: "Prompt", serif;
font-weight: 800;
font-style: normal;
}

.prompt-black {
font-family: "Prompt", serif;
font-weight: 900;
font-style: normal;
}

.prompt-thin-italic {
font-family: "Prompt", serif;
font-weight: 100;
font-style: italic;
}

.prompt-extralight-italic {
font-family: "Prompt", serif;
font-weight: 200;
font-style: italic;
}

.prompt-light-italic {
font-family: "Prompt", serif;
font-weight: 300;
font-style: italic;
}

.prompt-regular-italic {
font-family: "Prompt", serif;
font-weight: 400;
font-style: italic;
}

.prompt-medium-italic {
font-family: "Prompt", serif;
font-weight: 500;
font-style: italic;
}

.prompt-semibold-italic {
font-family: "Prompt", serif;
font-weight: 600;
font-style: italic;
}

.prompt-bold-italic {
font-family: "Prompt", serif;
font-weight: 700;
font-style: italic;
}

.prompt-extrabold-italic {
font-family: "Prompt", serif;
font-weight: 800;
font-style: italic;
}

.prompt-black-italic {
font-family: "Prompt", serif;
font-weight: 900;
font-style: italic;
}
.libre-barcode-128-regular {
font-family: "Libre Barcode 128", serif;
font-weight: 400;
font-style: normal;
}

.noto-sans-thai {
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}